footer
  p
    a(href=g_config.custom_githubAddr,target='_blank') Github
    | |
    a(href='/manage',target='_blank')= __('manage')
  p
    | ©2020 - 2021 By  
    a(href=g_config.custom_BLOGADDR)!{g_config.custom_BLOGNAME}

-if(g_config.custom_script)
  .
    !{g_config.custom_script}